<main role="main">
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/assets/Shoe.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">This item: ASIAN Men's Future-01 Running Shoes
                    ₹599.00  
                color:black-white S
                oft/Gentle <br><br><br></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">Offer: 2 days</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/assets/Watch1.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Analog White Dial Women's Watch - MK2741- ₹5,999
                    Inclusive of all taxes   
                    EMI starts at ₹351. No Cost EMI available EMI  </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">Offer: 7 days</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/assets/clock.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Clock Devis pleasant Peaceful
                    M.R.P-₹2100 <br><br>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">Offer: 4 days </small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/assets/Watch4.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Michael Kors Analog Silver Dial Women's Watch- ₹9,997
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted"> Offer:10 days</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/assets/Hoodie.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">ONLY
                    Women's Top
                    <br>
                    ₹369 M.R.P: ₹2,299
                    <br> 
                    Color: Pink
                   <br><br>
                   Cloth:Soft
                    <br>
                   </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">Offer: 8 days</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/assets/Nailpolish.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">SM FASHION Nail Polishes, Berry Pink 7ml each
                    <br>
                    Liquid <br>
                    ₹124 M.R.P: ₹249 (50% off) <br> </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">Offer: 2 days</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/assets/braclets.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Yellow Chimes
                    Bracelet for Women & Girls  
                    ₹216 M.R.P: ₹999 (78% off)<br>
                Color:Silver</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">Offer: 3 days</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/assets/bag.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">entagon 55 Cms Small 
                    Luggage Bag, Cyan Blue ₹1,999 M.R.P: ₹7,775
                    </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">Offer: 6 days</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/assets/Spects1.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Fastrack Women's Gradient Brown Sunglasses
                    <br>
                    lens Cofortable Sunglasses<br>
                   M.R.P: ₹1,099  <br> </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">Offer: 5 days</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
